---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="About GCAVC">
  <section class="container about" aria-label="About GCAVC">
    <img
      src="/images/headshot.jpg"
      alt="headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">About GCAVC</h1>
      <p>
        GCAVC was steblished in 2013. It"s sol aim is to promot chess for VI people in Gujarat.      </p>
      <Link
        href="mailto:GCAVC@gmail.com"
        style="primary"
        text="Contact viya Mail"
      />
    </div>
  </section>
</MainLayout>
