---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="About GCAVC">
  <section class="container about" aria-label="About GCAVC">
    <img
      src="/images/gcavc_logo.jpg"
      alt="Logo of GCAVC"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">About GCAVC</h1>
      ## Info
Gujarat Chess Association for Visually Challenged (GCAVC) was founded in 2013 by visually impaired chess players of Gujarat. It has been working for upliftment of blind chess and blind chess players of Gujarat. When it was established, Gujarat had only 4 internationally rated visually impaired chess players. But in last 10 years the number has increased to more than 50 and it is still growing with the time!
## Purpose
Think together, play together and progress together is a Moto of the organisation.
The purpose of GCAVC is to promote blind chess and to empower visually impaired chess players of the state.
## Functions
GCAVC functions as a official regulatory body for visually impaired chess players of Gujarat. It organizes various tournament right from district level up to National level. Tournaments include state selection tournament, state team championship etc.
The organisation runs a chess academy at blind peoples association, Ahemdavad. It also provides training material and coaching to brighte players of the state.
## Executive committee
The executive committee consists of 12 people which include three cited and nine visually impaired persons.
<table><tr> <th>Designation</th><th></th></th></tr>

</table>
## Operation
GCAVC runs only on donations given by many kind hearted people. it is a nonprofit organisation and does not have any stream of income.
      <Link
        href="mailto:GCAVC@gmail.com"
        style="primary"
        text="Contact viya Mail"
    />  
    </div>
  </section>
</MainLayout>
